body {
	background-color: #ccc;
	margin: 0;
	padding: 0;
}

#Page{
	position: relative;
	width:900px;
	margin:0 auto;
	background-color:#eee;
}


#Header
{
	height:250px;
	text-width:100px;
	text-align:center;
	background-image: url("https://dk8nafk1kle6o.cloudfront.net/Images/Shared/Pages/MTB101_banner_1602693788.jpg");
	 background-size: 100%;
}

#Header h1
{

}


#Menu
{
	text-align:center;
}
	
#background1{
	
}